body {
    font-family: "Lato", sans-serif;
    color: #5e6754;
    font-weight: 300;
}

.logo-image {
    margin-top: 20px;
}

.title-text {
    margin-top: 22px;
}

.faded-text {
    color: #b9c1bf;
    font-weight: bold;
    padding-left: 10px;
}

.fat-text {
    font-weight: bold;
}

.thin-title {
    font-weight: 100;
}

.margin-top-minus-5 {
    margin-top: -5px;
}

.margin-top-10 {
    margin-bottom: 10px;
}

.horizontal-ruler {
    color: #b9c1bf;
    background-color: #b9c1bf;
    height: 4px;
    border: none;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.header {
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .title-text {
        margin-top: 0;
    }
}